@font-face {
  font-family: Bebas Neue Regular;
  src: url("../fonts/BebasNeue-Regular.otf"); format("otf");
       url("/fonts/BebasNeue-Regular.ttf") format("ttf");
}
@font-face {
  font-family: Bebas Neue Light;
  src: url("../fonts/BebasNeue-Light.otf"); format("otf");
       url("/fonts/BebasNeue-Light.ttf"); format("ttf");
}
@font-face {
  font-family: Bebas Neue Bold;
  src: url("../fonts/BebasNeue-Bold.otf"); format("otf");
       url("/fonts/BebasNeue-Bold.ttf"); format("ttf");
}
@font-face {
  font-family: Bebas Neue Book;
  src: url("../fonts/BebasNeue-Book.otf"); format("otf");
       url("/fonts/BebasNeue-Book.ttf"); format("ttf");
}
@font-face {
  font-family: Bebas Neue Thin;
  src: url("../fonts/BebasNeue-Thin.otf"); format("otf");
       url("/fonts/BebasNeue-Thin.ttf"); format("ttf");
}
body {
    font-family: 'Bebas Neue Regular', sans-serif;
    background-color: #EFEEEE;
    overflow: hidden;
    color: #333;
}
h2 {
    font-family: 'Bebas Neue Bold', sans-serif;
    position: absolute;
    top: 10%;
    left: 45%;
    text-align: center;
}
a {
    text-decoration: none;
    color: #333;
}
.wrap {
    height: 18.75em;
    width: 25em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
.field-label {
    font-family: 'Bebas Neue Bold', sans-serif;
    letter-spacing: 1px;
    display: block;
    font-size: 3em;
    transform: translateY(25px);
    color: #fff;
    transition: all 0.5s;
    cursor: text;
}
.field-input {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0;
}
.field {
    height: 6.25em;
    width: 100%;
}
.is-active::after {
    transform: scaleX(1);
}
.is-active .field-label {
    color: #fff;
    font-size: 1.5em;
}
.is-completed .field-label {
    transform: translateY(1);
    font-size: 1.5em;
}
#inp_username,
#inp_password {
    height: 1.25em;
    width: 8.125em;
    font-size: 2em;
    text-align: center;
    color: #fff;
    margin-top: 0.5em;
}
#field-username,
#field-password {
    text-align: center;
}
#field-username {
    background-color: #399e5a;
}
#field-username::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-style: solid;
    border-width: 0.5em 0.469em 0 0.469em;
    border-color: #399e5a transparent transparent transparent;
    top: 6.25em;
    left: 50%;
    margin-left: -0.496em;
}
#field-password {
    background-color: #5abcb9;
}
#field-password::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-style: solid;
    border-width: 0.5em 0.469em 0 0.469em;
    border-color: #5abcb9 transparent transparent transparent;
    top: 12.5em;
    left: 50%;
    margin-left: -0.496em;
}
#form-submit {
    background-color: #587291;
    height: 6.25em;
    text-align: center;
}
input[type=submit] {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Bebas Neue Bold', sans-serif;
    margin-top: 0.5em;
    cursor: pointer;
}
:not(output):-moz-ui-invalid {
    box-shadow: none;
}
#label-logged, h2, #reset-credential {
    font-size: 1.7em;
    font-family: 'Bebas Neue Book', sans-serif;
}
#reset-credential {
    font-size: 1.6em;
}
#field-logged {
    padding-top: 30px;
    text-align: center;
}
#field-reset {
    text-align: center;
    height: auto;
}
#field-logged input[type="checkbox"] {
    display: none;
}
#field-logged input[type="checkbox"] + label span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 7px;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #333;
}
#field-logged input[type="checkbox"] + label {
    cursor: pointer;
}
#field-logged input[type="checkbox"]:checked + label span div {
    margin-left: 4px;
    width: 5px;
    height: 10px;
    transform: rotate(45deg);
    border-bottom: 2px solid #08B255;
    border-right: 2px solid #08B255;
}
